.card {
  box-shadow: 2rem 2rem 2.5rem;
  gap:1 1 20px;
  margin-left: 2rem;
  padding: 2rem;
  width: 50vw;
}
.card-heading{
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
}
div{
  margin:1.4rem;
}
h3{
  font-size: 1.5rem;
  line-height: 2;
}

.btn-flex{
  display: flex;
  flex: 1 1 42rem;
  flex-wrap: wrap;
  gap: 2rem;
}
button{
  background-color: darkviolet;
  color: white;
  padding: .8rem;
  border-radius: 1rem;
  cursor: pointer;

}

button:hover{
  background-color: mediumvioletred;
}
