.primary{
  background-color: lightslategrey;
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
.nav .btn{
  background-color: mediumvioletred;
  padding:1rem;
  border-radius: 2rem;
  color:white;
  font-size: 1.5rem;
  transition: .2s linear;
}
.nav .btn:hover{
  background-color: darkviolet;
  margin-right: 1rem;
}
